<div class="mt-2">
  <div class="row steel m-b-10" style="border-bottom: 2px solid steelblue">
    <div class="col-11" style="padding-inline-start: 8px; padding-bottom: 0">
      <h2>
        <strong>{{ "Bookings" | translate }}</strong>
      </h2>
    </div>
    <div class="filter_div d-flex align-items-center w-100">
      <h4 class="x-font-bold ms-3" style="width: 25%;">You can filter within date range</h4>
      <mat-form-field class="d-flex justify-content-center" appearance="fill" style="width: 25%;">
        <div class="w-100 d-flex align-items-center justify-content-between m-0">
          <mat-label>Enter Range</mat-label>
          <div class="d-flex justify-content-end">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </div>
        </div>
        <mat-date-range-input class="w-100" [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date" (dateChange)="dateRangeChange()">
        </mat-date-range-input>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
    <div class="jay_taxi_table">
      <div class="table_div d-flex flex-column align-items-center">
        <table class="table">
          <thead class="x-font-bold">
            <th width="15%"></th>
            <th width="45%" *ngIf="range && range.value && range.value.start && range.value.end">
              <div class="d-flex flex-column align-items-center">
                From {{range.value.start | date:'MMM d, y'}}
                To {{range.value.end | date:'MMM d, y'}}
              </div>
            </th>
            <th width="35%">
              <div class="d-flex flex-column align-items-center">
                From Account Created
              </div>
            </th>
          </thead>
          <tbody>
            <tr>
              <td class="x-font-bold text-left" style="border-right: 1px solid steelblue;">Number of request</td>
              <td style="border-right: 1px solid steelblue;"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>