<form [formGroup]="resetAdminPasswordForm" class="row m-0 p-0">
    <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "NEW_PASSWORD" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="new_password" />
    </mat-form-field>

    <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "RENEW_PASSWORD" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="renew_password" />
    </mat-form-field>
</form>

<div class="p-dialog-footer p-0 px-1">
    <button pButton type="button" [disabled]="!resetAdminPasswordForm.valid" class="p-success p-button-sm"
        (click)="saveResetPassword(resetAdminPasswordForm.value)" [label]="translate.instant('RESET')"></button>

    <button pButton type="button" class="p-secondary p-button-sm" (click)="closeDialog()"
        [label]="translate.instant('CANCEL')"></button>
</div>