.user-infos {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  i {
    margin-inline-end: 5px;
  }
}

.email-contaier {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  // background-color: rgb(246, 246, 246);
  border-radius: 5px;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-block: 10px;
}

/**/
:host ::ng-deep .p-dataview .p-dataview-content > .p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px 50px;
}

:host ::ng-deep .p-dataview-content {
  background: none !important;
}


.card-category-img{
    aspect-ratio: 1/1;
    width: 6rem;
    border-radius: 50%;
    margin-inline-end: 10px;
}

.category-card-name {
    color: steelblue;
    font-weight: bold;
    font-size: 16px;
    word-break: break-word;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

:host ::ng-deep .p-dialog .p-dialog-header{
  justify-content: center;
}