<p-header>
  <div class="d-flex justify-content-between align-items-center py-3 header">
    <div>
      <i
        class="pi pi-arrow-circle-left"
        style="cursor: pointer"
        (click)="closeDialog()"
      ></i>
    </div>
    <span class="text-center w-100">
      <h2 class="mb-0" style="font-weight: bold; color: steelblue">
        {{
            translate.instant('ADD_STORY')
        }}
      </h2>
    </span>
  </div>
</p-header>

<form [formGroup]="storyForm">
  <div class="row p-0 m-0 d-flex justify-content-center">
      <ngx-dropzone (change)="onSelect($event)" [multiple]="false" class="ngx-drop">
          <ngx-dropzone-label><i class="fa fa-regular fa-image"
                  style="font-size: 30px; color: steelblue"></i></ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" class="preview-img" *ngFor="let f of files"
              [file]="f" [removable]="true" (removed)="onRemove(f)"
              style="width: 100%;border-radius: 100px;margin: 0px;">
          </ngx-dropzone-image-preview>
      </ngx-dropzone>
  </div>

  <mat-form-field [style.width]="'100%'" appearance="outline" class="mt-3">
      <mat-label>{{ "DESCRIPTION" | translate }}</mat-label>
      <textarea matInput formControlName="text"></textarea>
  </mat-form-field>

</form>


<div class="p-dialog-footer p-0 px-1">
  <button
    pButton
    type="button"
    [disabled]="!storyForm.valid"
    class="p-success p-button-sm"
    (click)="savePost(storyForm.value)"
    [label]="translate.instant('Add')"
  ></button>
</div>
