::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  box-shadow: none;
}

::ng-deep .ui-button:focus,
::ng-deep .ui-button:enabled:focus {
  outline: 0 none !important;
  outline-offset: 0px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: steelblue;
}

.add-btn {
  width: 95%;
}

//-----Dialog-----------------------------
:host ::ng-deep .p-dialog .p-dialog-footer {
  padding: 0px !important;
}

:host ::ng-deep .p-button.p-button-sm {
  background: steelblue !important;
  border-color: steelblue !important;
}


.file-upload {
  position: absolute;
  top: 69px;
  right: -44px;
}

.file-upload1 {
  position: absolute;
  top: -7px;
  right: -1px;
  z-index: 100;
}

.file-upload2 {
  position: absolute;
  top: -7px;
  left: -1px;
  z-index: 100;
}

.file-upload input[type='file'],
.file-upload1 input[type='file'],
.file-upload2 input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.file-upload label,
.file-upload1 label,
.file-upload2 label {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: steelblue;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}