<form [formGroup]="userForm" class="row m-0 p-0">
  <div class="row p-0 m-0 d-flex justify-content-center position-relative">
    <div class="image-container d-flex justify-content-center">
      <img [src]="imageBase64 ? imageBase64 : profileImageSrc" alt="">
    </div>
    <div class="file-upload text-center">
      <input type="file" id="file-input" (change)="onFileChange($event)" />
      <label for="file-input">
        <span>+</span>
      </label>
    </div>

    <div *ngIf="imageChangedEvent" class="position-relative">
      <image-cropper *ngIf="!cropperClosed" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)" [roundCropper]="false"
        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
      <div *ngIf="!cropperClosed" class="file-upload1 text-center">
        <label for="file-input" (click)="closeCropper($event)">
          <span><i class="fa fa-check" aria-hidden="true"></i></span>
        </label>
      </div>
      <div *ngIf="!cropperClosed" class="file-upload2 text-center">
        <label for="file-input" (click)="resetCropper($event)">
          <span><i class='fa fa-close'></i></span>
        </label>
      </div>
    </div>

  </div>
  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "NAME" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="name" />
  </mat-form-field>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "EMAIL" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "PHONE_NUMBER" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="phone" />
  </mat-form-field>

  <mat-form-field *ngIf="!showUser && !editing" [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "PASSWORD" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="password" type="password" />
  </mat-form-field>

  <div class="row p-0 m-0">
    <div class="col-6">
      <mat-form-field appearance="outline" [style.width]="'100%'">
        <mat-label>{{ "GENDER" | translate }}</mat-label>
        <div *ngIf="!showUser">
          <mat-select formControlName="gender">
            <mat-option value="0">{{ "MALE" | translate }}</mat-option>
            <mat-option value="1">{{ "FEMALE" | translate }}</mat-option>
          </mat-select>
        </div>
        <div *ngIf="showUser">
          <input matInput autocomplete="nope" formControlName="gender" />
        </div>


      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" [style.width]="'100%'">
        <mat-label>{{ "ACTIVE_USER" | translate }}</mat-label>
        <div *ngIf="!showUser">

          <mat-select formControlName="activeUser">
            <mat-option value="true">{{ "Yes" | translate }}</mat-option>
            <mat-option value="false">{{ "No" | translate }}</mat-option>
          </mat-select>
        </div>
        <div *ngIf="showUser">
          <input matInput autocomplete="nope" formControlName="activeUser" />
        </div>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="p-dialog-footer p-0 px-1" *ngIf="!showUser">
  <button pButton type="button" [disabled]="!userForm.valid" class="p-success p-button-sm"
    (click)="saveUser(userForm.value)" [label]="
      dialogStatus === 'Add'
        ? translate.instant('ADD')
        : translate.instant('EDIT')
    "></button>

  <button pButton type="button" class="p-secondary p-button-sm" (click)="closeDialog()"
    [label]="translate.instant('CANCEL')"></button>
</div>