::ng-deep .p-multiselect {
  width: 100% !important;
  height: 3em !important;
  background-color: white;
  border-radius: 5px;
  box-shadow: none;
}

.custom-users{
    width: 100%;
    padding: 10px 20px;
    border: none;
}