


.header {
    color: steelblue;
    border-bottom: 1px solid steelblue;
    font-size: 24px;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.content {
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

