.user-infos {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  i {
    margin-inline-end: 5px;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  // background-color: rgb(246, 246, 246);
  border-radius: 5px;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-block: 10px;
}

:host ::ng-deep .p-tag {
  padding: 0.15rem 0.4rem !important;
  font-size: 10px !important;
}

/**/
:host ::ng-deep .p-dataview .p-dataview-content > .p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 28px;
}

:host ::ng-deep .p-dataview-content {
  background: none !important;
}

i {
  cursor: pointer;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  background: none !important;
  border: none !important;
  color: #495057;
  border-width: 1px 0 1px 0;
  padding: 0.5em 0.5rem;
  font-weight: 600;
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border: none !important;
}
