<div class="page-body">
  <div class="row steel m-b-10" style="border-bottom: 2px solid steelblue; margin: 0 0.2em 0 0.5em">
    <div class="col-12 d-flex justify-content-between align-items-center m-0 p-0" style="padding-bottom: 0">
      <h2>
        <strong>{{ selectedClinic?.name | translate }}</strong>
      </h2>
    </div>
  </div>

  <div class="clinic-profile mt-2">
    <div class="clinic-sidebar">
      <div class="my-card">
        <p-panelMenu [model]="items" [style]="{
            width: '100%',
            'font-size': '15px'
          }" [multiple]="false"></p-panelMenu>
      </div>
    </div>
    <div class="clinic-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>