<form [formGroup]="adminForm" class="row m-0 p-0">
  <div class="row p-0 m-0 d-flex justify-content-center position-relative">
    <div class="image-container d-flex justify-content-center">
      <img [src]="imageBase64 ? imageBase64 : profileImageSrc" alt="">
    </div>
    <div class="file-upload text-center">
      <input type="file" id="file-input" (change)="onFileChange($event)" />
      <label for="file-input">
        <span>+</span>
      </label>
    </div>

    <div *ngIf="imageChangedEvent" class="position-relative">
      <image-cropper *ngIf="!cropperClosed" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)" [roundCropper]="true"
        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
      <div class="file-upload1 text-center">
        <label for="file-input" (click)="closeCropper($event)">
          <span>X</span>
        </label>
      </div>
    </div>

  </div>
  <div class="row m-0 p-0">
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "FIRST_NAME" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="firstName" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "LAST_NAME" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="lastName" />
      </mat-form-field>
    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "EMAIL" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="email" type="email" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "PHONE_NUMBER" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="phoneNumber" type="number" />
      </mat-form-field>
    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "NEW_PASSWORD" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "RENEW_PASSWORD" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="renew_password" />
      </mat-form-field>
    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="col-6">
      <mat-form-field appearance="outline" [style.width]="'100%'">
        <mat-label>{{ "ROLE" | translate }}</mat-label>
        <mat-select [multiple]="true" formControlName="role"  >
          <mat-option *ngFor="let role of RolesList" [value]="role.id">{{ role.displayName | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" [style.width]="'100%'">
        <mat-label>{{ "ACTIVE" | translate }}</mat-label>
        <mat-select  formControlName="isActive">
          <mat-option value="1">{{ "Yes" | translate }}</mat-option>
          <mat-option value="0">{{ "No" | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="p-dialog-footer p-0 px-1">
  <button
    pButton
    type="button"
    [disabled]="!adminForm.valid"
    class="p-success p-button-sm"
    (click)="saveAdmin(adminForm.value)"
    [label]="
      dialogStatus === 'Add'
        ? translate.instant('ADD')
        : translate.instant('EDIT')
    "
  ></button>

  <button
    pButton
    type="button"
    class="p-secondary p-button-sm"
    (click)="closeDialog()"
    [label]="translate.instant('CANCEL')"
  ></button>
</div>
