<p-header>
  <div class="d-flex justify-content-between align-items-center py-3 header">
    <div>
      <i
        class="pi pi-arrow-circle-left"
        style="cursor: pointer"
        (click)="closeDialog()"
      ></i>
    </div>
    <span class="text-center w-100">
      <h2
        class="mb-0"
        style="font-weight: bold; color: steelblue"
        *ngIf="showDetails"
      >
        {{ "DOCTOR_DETAILS" | translate }}
      </h2>
      <h2
        class="mb-0"
        style="font-weight: bold; color: steelblue"
        *ngIf="!showDetails"
      >
        {{
          dialogStatus === "Add"
            ? this.translate.instant("ADD_DOCTOR")
            : this.translate.instant("EDIT_DOCTOR")
        }}
      </h2>
    </span>
  </div>
</p-header>

<form [formGroup]="doctorForm" class="row m-0 p-0">
  <div class="row p-0 m-0 d-flex justify-content-center">
    <ngx-dropzone
      (change)="onSelect($event)"
      [multiple]="false"
      [disabled]="showDetails"
      class="ngx-drop"
    >
      <ngx-dropzone-label
        ><i
          class="fa fa-regular fa-image"
          style="font-size: 30px; color: steelblue"
        ></i
      ></ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        class="preview-img"
        *ngFor="let f of files"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
        style="width: 100%; border-radius: 100px; margin: 0px"
      >
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
    <span class="text-center py-2">{{ "ADD_IMAGE" | translate }}</span>
  </div>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "DOCTOR_NAME" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" [style.width]="'50%'" >
    <mat-label>{{ "START_TIME" | translate }}</mat-label>
    <input matInput type="time" matInput formControlName="startTime">
  </mat-form-field>

  <mat-form-field appearance="outline" [style.width]="'50%'" >
    <mat-label>{{ "END_TIME" | translate }}</mat-label>
    <input matInput type="time" matInput formControlName="endTime">

  </mat-form-field>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "DOCTOR_Jurisdiction" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="jurisdiction" />
  </mat-form-field>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "DESCRIPTION" | translate }}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  
  <div class="row p-0 m-0">
    <div class="col-3">
      <ngx-dropzone
      (change)="onSelectInsurance($event)"
      [multiple]="false"
      [disabled]="showDetails"
      class="ngx-drop-icon"
    >
      <ngx-dropzone-label
        ><i
          class="fa fa-regular fa-image"
          style="font-size: 30px; color: steelblue"
        ></i
      ></ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        class="preview-img"
        *ngFor="let f of insuranceFile"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
        style="width: 100%; border-radius: 100px; margin: 0px; height: 61px !important;"
      >
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
    </div>
    <div class="col-9">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "INSURANCE" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="insurances" />
      </mat-form-field>
    </div>
  </div>
</form>

<div class="p-dialog-footer p-0 px-1" *ngIf="!showDetails">
  <button
    pButton
    type="button"
    [disabled]="!doctorForm.valid"
    class="p-success p-button-sm"
    (click)="saveDoctor(doctorForm.value)"
    [label]="translate.instant('SAVE')"
  ></button>

  <button
    pButton
    type="button"
    class="p-secondary p-button-sm"
    (click)="closeDialog()"
    [label]="translate.instant('CANCEL')"
  ></button>
</div>
