::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  box-shadow: none;
}

::ng-deep .ui-button:focus,
::ng-deep .ui-button:enabled:focus {
  outline: 0 none !important;
  outline-offset: 0px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: steelblue;
}

.add-btn {
  width: 95%;
}

.modal-profile-img {
  aspect-ratio: 1 / 1;
  width: 25%;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
}

//-----Dialog-----------------------------
:host ::ng-deep .p-dialog .p-dialog-footer {
  padding: 0px !important;
}

:host ::ng-deep .p-button .p-button-sm {
  background: steelblue !important;
  border-color: steelblue !important;
}

:host ::ng-deep .p-dialog {
  border: 5px solid steelblue !important;
}

:host ::ng-deep .date.mat-form-field-appearance-outline .mat-form-field-infix {
    display: flex;
    padding: 0px;
  }
  