<form [formGroup]="clinicForm" class="row m-0 p-0">
  <div class="row p-0 m-0 d-flex justify-content-center">
    <ngx-dropzone
      (change)="onSelect($event)"
      [multiple]="false"
      class="ngx-drop"
    >
      <ngx-dropzone-label
        ><i
          class="fa fa-regular fa-image"
          style="font-size: 30px; color: steelblue"
        ></i
      ></ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        class="preview-img"
        *ngFor="let f of files"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
        style="width: 100%;border-radius: 100px;margin: 0px;"
      >
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
    <span class="text-center py-2">{{ "ADD_IMAGE" | translate }}</span>
  </div>
  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "NAME" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="name" />
  </mat-form-field>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "EMAIL" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field [style.width]="'100%'" appearance="outline">
    <mat-label>{{ "WEBSITE" | translate }}</mat-label>
    <input matInput autocomplete="nope" formControlName="email" type="website" />
  </mat-form-field>

  <div class="row p-0 m-0">
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "PASSWORD" | translate }}</mat-label>
        <input matInput autocomplete="nope" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "PHONE_NUMBER" | translate }}</mat-label>
        <input
          matInput
          autocomplete="nope"
          formControlName="phone"
          type="tel"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row p-0 m-0">
    <div class="col-md-6">
      <mat-form-field [style.width]="'100%'" appearance="outline">
        <mat-label>{{ "CLINIC_STYLE" | translate }}</mat-label>
        <input
          matInput
          autocomplete="nope"
          formControlName="clinic_style"
        />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" [style.width]="'100%'">
        <mat-label>{{ "CATEGORY" | translate }}</mat-label>
        <mat-select formControlName="clinics">
          <mat-option *ngFor="let rec of categories" [value]="rec.id">{{
            rec.name | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
  
    </div>
  </div>
</form>

<div class="p-dialog-footer p-0 px-1">
  <button
    pButton
    type="button"
    [disabled]="!clinicForm.valid"
    class="p-success p-button-sm"
    (click)="saveAdmin(clinicForm.value)"
    [label]="
      dialogStatus === 'Add'
        ? translate.instant('ADD')
        : translate.instant('EDIT')
    "
  ></button>

  <button
    pButton
    type="button"
    class="p-secondary p-button-sm"
    (click)="closeDialog()"
    [label]="translate.instant('CANCEL')"
  ></button>
</div>
